<h1 class="text-center">Welcome to the VoteCount!</h1>
<div class="text-center">
	<%= link_to "sign in", new_user_session_path, :class => "btn btn-primary sign" %>
	<%= link_to "Sign up", new_user_registration_path, :class => "btn btn-success sign" %>
</div>