
/* universal */

body {
  padding-top: 120px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.navbar-inverse .navbar-nav > li > a { color: #DDD!important; }
.sign,
.sign:visited { color: #FFF;}